#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --active-blue: #5dc1b9;
}

.card {
  padding: 2em;
}

body {
  background-color: rgb(39, 39, 39);
}

h1 {
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(233, 233, 233);
}

label {
  color: rgb(228, 228, 228);
}