:root {
    --beat_color: rgb(17, 17, 17);
    --muted_color: rgba(0, 0, 0, 0);
}

.visualization {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.beat {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--beat_color);
    border-radius: 2%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;

    outline-style: solid;
    outline-color: black;
    outline-width: 3px;
}

@keyframes flash {
    0% { outline-color: var(--active-blue); } /* Hardcoded value */
    100% { outline-color: rgb(50, 50, 50); }  /* Hardcoded value */
}

/* Highlight the active beat */
.beat.active {
    animation: flash 0.2s ease-out;
}

/* Style for muted beats */
.beat.muted {
    background-color: var(--muted_color);
    opacity: 0.5;
}
